<div class="ProfessionalSkills row">
    <h2>{{ about.ProfessionalSkills.title.en }}</h2>
    <div class="ProfessionalSkills-container">
        <ul class="ProfessionalSkills-menu js-tabMenu">
            {% for menu in about.ProfessionalSkills.menu %}
            <li class="ProfessionalSkills-menuItem {{ menu.class }}"><a href="#tab-{{ menu.tab }}">{{ menu.title|raw }}</a></li>
            {% endfor %}
        </ul>
        {% for content in about.ProfessionalSkills.content %}
        <ul id="tab-{{ content.tab }}" class="ProfessionalSkills-content js-tabContent">
            {% for chart in content.chart %}
            <li class="ProfessionalSkills-contentItem">
                <span class="ProfessionalSkills-title">{{ chart.title|raw }}</span>
                <div class="ProfessionalSkills-chart">
                    <span class="ProfessionalSkills-chartItem {{ chart.percentage }}"></span>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
