{% if index is odd %}
    {% set column1 = 'g-small-12 g-medium-6 g-large-8' %}
    {% set columns2 = 'g-small-12 g-medium-6 g-large-4' %}
{% else %}
    {% set column1 = 'g-small-12 g-medium-push-6 g-medium-6 g-large-push-4 g-large-8' %}
    {% set columns2 = 'g-small-12 g-medium-pull-6 g-medium-6 g-large-pull-8 g-large-4' %}
{% endif %}
<div class="RitualsBelle-module">
    <div class="RitualsBelle-module-header g-row js-equalizrGroup">
        <div class="image {{ column1 }} g-column js-equalizr" style="background-image: url({{ getUrlPrefix(page[locale]) }}{{ globals.paths.images }}landing/{{ module.header.image }});"></div>
        <div class="info {{ columns2 }} g-column js-equalizr">
            <h3 class="title">{{ module.header.title }}</h3>
            <p class="text">{{ module.header.content }}</p>
            <a href="#" class="Button Button--showMore in-white js-moduleContentTrigger">{{ page[locale].buttons.showMore }}</a>
        </div>
    </div>
    <div class="RitualsBelle-module-content js-moduleContent g-row js-equalizrGroup">
        <div class="image {{ column1 }} g-column js-equalizr">
            <img src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.images }}landing/{{ module.content.image }}" alt="">
        </div>
        <div class="info {{ columns2 }} g-column js-equalizr">
            {% if module.content.type == 'list' %}
            <ul>
                {% for item in module.content.description %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>{{ module.content.description }}</p>
            {% endif %}
            <div class="price">
                {% set price = module.content.price|split(',') %}
                <span class="amount">{{ price[0] }}</span>,{{ price[1] }} &euro;
            </div>
            <a class="Button Button--hollow in-purple is-fullWidth has-rightArrow js-track-cta js-track-superonline" href="{{ module.content.link }}" data-track-action="{{ page.es.buttons.buy }}" data-utmproduct="{{ module.content.slug }}" data-utmterm="{{ page.utm.campaign }}">{{ page[locale].buttons.buy }}</a>
        </div>
    </div>
</div>