<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% set currentYear = 'now'|date('Y') %}
        <meta name="expires" content="{{ 'now'|date('D, d M') }} {{ currentYear +1 }}">

        <title>{{ globals[locale].meta.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.images }}favicon.ico" />
        <link rel="canonical" href="{{ globals[locale].meta.canonical|default('https://www.ailinp.com') }}" />
        <meta name="description" content="{{ globals[locale].meta.description }}" />
        <meta name="keywords" content="{{ globals[locale].meta.keywords }}" />

        <meta property="og:title" content="{{ globals[locale].meta.title }}"/>
        <meta property="og:site_name" content="{{ globals[locale].meta.siteName }}"/>
        <meta property="og:description" content="{{ globals[locale].meta.description }}" />
        <meta property="og:type" content="{{ globals[locale].meta.type }}"/>
        <meta property="og:image" content="{{ globals[locale].meta.image }}"/>
        <meta property="og:url" content="{{ globals[locale].meta.url }}" />

        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.stylesheets }}styles.min.css" />
        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.vendors }}modernizr.js"></script>
        {% block headerJs %}{% endblock %}

        <meta name="google-site-verification" content="N4Wza4obzWQLmW75wmkllcyd2gYA9_SgEmtyIgTc1Ew" />
    </head>
    <body data-utmcampaign="{{ page.utm.campaign|default('') }}" data-utmdate="{{ page.utm.date|default('') }}">
        {% include '../../components/google-gtm.twig' %}

        {% block header %}
            {% include 'includes/header.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include 'includes/footer.twig' %}
        {% endblock %}

        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.javascripts }}polyfills.js"></script>
        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.vendors }}jquery.js"></script>
        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.javascripts }}libs/waypoints.min.js"></script>
        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.javascripts }}libs/sss.min.js"></script>
        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.javascripts }}libs/jquery.easy-pie-chart.js"></script>
        <script src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.javascripts }}scripts.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
