{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}

{% embed '../components/top-heading.twig' %}
    {% block link %}{{ topHeading.links[locale].toPainting|raw }}{% endblock %}
    {% block claim %}{{ topHeading.about[locale]|raw }}{% endblock %}
{% endembed %}

<section class="About">
    <div class="u-wrapper row">
        <div class="{{ page.commonStuff.class.mainSection|raw }}">
            {% include '../modules/professional-skills.twig' %}
            {% include '../modules/personal-skills.twig' %}
            {% include '../modules/technical-skills.twig' %}
            <div class="About-explanation">
                <h2>{{ about.explanation.title|raw }}</h2>
                <ul>
                {% for list in about.explanation.content %}
                    <li>{{ list|raw }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% embed '../components/aside.twig' %}
            {% block title %}{{ aside.introduction.forAbout.title.en|raw }}{% endblock %}
            {% block description %}{{ aside.introduction.forAbout.description.en|raw }}{% endblock %}
            {% block asideForAbout %}
                {% include '../modules/baby-slider.twig' %}
                {% include '../modules/language-skills.twig' %}
            {% endblock %}
        {% endembed %}
    </div>
</section>

{% endblock %}