{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}
{% embed '../components/top-heading.twig' %}
    {% block link %}{{ topHeading.links[locale].toEditorial|raw }}{% endblock %}
    {% block claim %}{{ topHeading.comics[locale]|raw }}{% endblock %}
{% endembed %}

<section class="Comics">
    <div class="u-wrapper row">
        <div class="{{ page.commonStuff.class.mainSection|raw }}">
            <p class="homeMainClaim">{{ mainSection.home[locale]|raw }}</p>
        </div>
        {% embed '../components/aside.twig' %}
            {% block title %}{{ aside.introduction.forComics.title.en|raw }}{% endblock %}
            {% block description %}{{ aside.introduction.forComics.description.en|raw }}{% endblock %}
        {% endembed %}
    </div>
</section>

{% endblock %}