{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}
{% embed '../components/top-heading.twig' %}
    {% block link %}{{ topHeading.links[locale].toAbout|raw }}{% endblock %}
    {% block claim %}{{ topHeading.home[locale]|raw }}{% endblock %}
{% endembed %}

<h1 style="display: none;">Ailin's Personal Website</h1>
<section class="Home">
    <div class="u-wrapper row">
        <div class="{{ page.commonStuff.class.mainSection|raw }}">
            <p class="homeMainClaim">{{ home.mainSection[locale]|raw }}</p>
        </div>
        {% embed '../components/aside.twig' %}
            {% block title %}{{ aside.introduction.forHome.title.en|raw }}{% endblock %}
            {% block description %}{{ aside.introduction.forHome.description.en|raw }}{% endblock %}
        {% endembed %}
    </div>
</section>

{% endblock %}
