{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}
{% embed '../components/top-heading.twig' %}
    {% block link %}{{ topHeading.links[locale].toComics|raw }}{% endblock %}
    {% block claim %}{{ topHeading.painting[locale]|raw }}{% endblock %}
{% endembed %}

<h1 style="display: none;">Painting</h1>
<section class="Painting">
    <div class="u-wrapper row collapse">
        <div class="{{ page.commonStuff.class.mainSection|raw }}">
        {% for content in Painting %}
            <a id="js-{{ content.backgroundImage }}" class="previewBlock js-preview {{ content.backgroundImage }}">
                <div class="info-container">
                    <div class="info-content">
                        <h2 class="info-title">{{ content.title|raw }}</h2>
                        <h3 class="info-sudtitle">{{ content.subtitle|raw }}</h3>
                    </div>
                </div>
            </a>
            <div class="overlay js-{{ content.backgroundImage }}">
                <div class="overlay-content" action="#">
                    <div class="caption-title">
                        <span class="overlay-close" onclick="$(this).overlayClose();">X</span>
                        {{ content.title|raw }}
                    </div>
                    <div class="caption-container">
                        <img src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.images }}{{ content.fullImage }}" alt="{{ content.title|raw }}">
                        <div class="caption-content row collapse">
                            <ul class="columns small-24 medium-8 large-6">
                            {% for list in content.captionData %}
                                <li>{{ list|raw }}</li>
                            {% endfor %}
                            </ul>
                            <div class="columns small-24 medium-16 large-18">{{ content.description|raw }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% embed '../components/aside.twig' %}
            {% block title %}{{ aside.introduction.forPainting.title.en|raw }}{% endblock %}
            {% block description %}{{ aside.introduction.forPainting.description.en|raw }}{% endblock %}
        {% endembed %}
    </div>
</section>
{% endblock %}