{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}
{% embed '../components/top-heading.twig' %}
    {% block link %}{{ topHeading.links[locale].toComics|raw }}{% endblock %}
    {% block claim %}{{ topHeading.painting[locale]|raw }}{% endblock %}
{% endembed %}

<section class="Painting">
    <div class="u-wrapper row collapse">
        <div class="{{ page.commonStuff.class.mainSection|raw }}">
        {% for content in mainSection.Painting %}
            <a class="previewBlock js-preview {{ content.backgroundImage }}" onClick="showOverlay()">
                <div class="info-container">
                    <div class="info-content">
                        <span class="info-title">{{ content.title|raw }}</span>
                        <span class="info-sudtitle">{{ content.subtitle|raw }}</span>
                    </div>
                </div>
            </a>
            <div class="overlay">
                <div class="overlay-content" action="#">
                    <div class="caption-title">
                        <span class="overlay-close">X</span>
                        {{ content.title|raw }}
                    </div>
                    <div class="caption-container">
                        <img src="{{ content.fullImage }}" alt="{{ content.title|raw }}">
                        <div class="caption-content row collapse">
                            <ul class="columns small-24 medium-8 large-6">
                            {% for list in content.captionData %}
                                <li>{{ list|raw }}</li>
                            {% endfor %}
                            </ul>
                            <div class="columns small-24 medium-16 large-18">{{ content.description|raw }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% embed '../components/aside.twig' %}
            {% block title %}{{ aside.introduction.forPainting.title.en|raw }}{% endblock %}
            {% block description %}{{ aside.introduction.forPainting.description.en|raw }}{% endblock %}
        {% endembed %}
    </div>
</section>

{% endblock %}