<footer>
    <div class="FooterLinks">
        <div class="u-wrapper for-eroski">
            <nav class="FooterLinks-nav u-clearfix">

                <ul class="FooterLinks-nav u-clearfix">
                    {% for item in footer.conditions[locale] %}
                    <li><a href="{{ item.link }}" data-utmterm="{{ item.utmterm }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a></li>
                    {% endfor %}
                    <li class="SocialIcons">
                        {% for item in footer.socials %}
                        <a class="ico--{{ item.title }}" href="{{ item.link }}" title="Seguir">{{ item.title }}</a>
                        {% endfor %}
                    </li>
                </ul>

            </nav>
        </div>
    </div>

</footer>
