<header class="Header">
    <div class="u-wrapper">
        <div class="Header-logo">
            <a href="{{ header.logo.link }}" title="EileenPunk"><img src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.images }}{{ header[locale].logo.image }}" alt="{{ globals.eileenpunk }}"></a>
        </div>
        <div class="Header-mobileMenuIcon js-mobileMenu"><a href="#" no-utm><img src="{{ getUrlPrefix(page[locale]) }}{{ globals.paths.images }}eroski-mobile-menu.png"></a></div>
        <div class="Header-menu js-headerMenu">
            <nav>
                <ul>
                    {% for item in header.en.menu %}
                    {# {% for item in header[locale].menu %} #}
                    <li><a {% if item.class %}class="{{ item.class }}"{% endif %} href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>